/node_modules
/lazy-isMobile-awaitImport/node_modules
/lazy-isMobile-awaitImport/.umi
/lazy-isMobile-awaitImport/.umi-test
/lazy-isMobile-awaitImport/.umi-production
/lazy-isMobile-awaitImport/dist
/umd-proxy/node_modules
/umd-proxy/.umi
/umd-proxy/.umi-test
/umd-proxy/.umi-production
/umd-proxy/dist
